{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table class="table table-striped">

        <thead>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </thead>

        <tbody>
            {% for holding in holdings %}
            <tr>
                <td> {{ holding["symbol"] }} </td>
                <td> {{ holding["name"] }} </td>
                <td> {{ holding["shares"] }} </td>
                <td> {{ holding["price"] }} </td>
                <td> {{ holding["total"] }} </td>
            </tr>
            {% endfor %}
            <tr>
                <td id="index_cash_balance">CASH balance</td>
                <td colspan = 3></td>
                <td>{{ balance }}</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td id="index_total">TOTAL</td>
                <td colspan=3></td>
                <td>
                    {{ total }}
                </td>
            </tr>
        </tfoot>

    </table>
{% endblock %}
