{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <tr>
            <th>
                SYMBOL
            </th>
            <th>
                NAME
            </th>
            <th>
                PRICE (for a share)
            </th>
        </tr>
        <tr>
            <td>
                {{ stock['symbol'] }}
            </td>
            <td>
                {{ stock['name'] }}
            </td>
            <td>
                $ {{ stock['price'] | usd }}
            </td>
        </tr>
    </table>

{% endblock %}
