{% extends "layout.html" %}

{% block title %}
HOME
{% endblock %}

{% block body %}
<div class="white-box" style="text-align: center; align-items: center;">
    
    <img src="static/logo_final.jpg" alt="Logo" style="width: 300px; height: 200px" class="rounded">

    <div class="frame">
  
        <button class="log"><span><a class="nav-link" href="/login" id="btn3">Login</a></span></button>
        <button class="reg"><span><a class="nav-link" href="/register" id="btn4">Register</a></span></button>
        
        <u><a href="/report"><p style="font-family: Andale Mono, monospace;">
            <a class="nav-link" href="report" id="btn5">Report an animal injury</a></p></u></a>
    </div>

</div>
{% endblock %}