{% extends "layout.html" %}

{% block title %}
REPORT
{% endblock %}

{% block body %}

<div class="white-box" style="text-align: center">
    <div>
        <h1>REPORT</h1>
    </div>
    <form action="/report" method="post">
        
            <h2>Your details</h2>
            <div class="row g-3">
            <div class="form-group col-md-6">
                <input class="form-control mx-auto w-auto" autocomplete="off" autofocus name="name" placeholder="User Name" type="text">
            </div>
            <div class="form-group col-md-6">
                <input class="form-control mx-auto w-auto" autocomplete="off" name="contact" placeholder="Contact number" type="text">
            </div>
            
        </div>
        <div>
            <p>


            </p>
        </div>
        <div class="form-group row g-3">
            <div class="form-group col-md-6">
                <input class="form-control mx-auto w-auto" autocomplete="off" name="country" placeholder="State" type="text">
            </div>
            <div class="form-group col-md-6 ">
                <input class="form-control mx-auto w-auto" autocomplete="off" name="state" placeholder="City" type="text">
            </div>
        </div>
        <div>
            <p>

                
            </p>
        </div>
        
        <div>
            <h2>Animal details</h2>
            <div class="row g-3">
                <div class="form-group col-md-6">
                    <input class="form-control mx-auto w-auto" autocomplete="off" name="animal_type" placeholder="Animal type" type="text">
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control mx-auto w-auto" autocomplete="off" name="animal_issue" placeholder="Issue" type="text">
                </div>
            </div>
            <div style="padding-top: 20px;">
                <input class="form-control mx-auto w-auto" id="btn5" type="submit" value="Submit">
            </div>
    </form>
</div>

{% endblock %}
